<!DOCTYPE html>

<html lang="en">
 
<% include header %>
<body id="page-top" class="/index" data-spy="scroll" data-target=".navbar-fixed-top">  
    
 <% include nav %>    
    
    <!---- Main Image ---->
<div class="heading">
    <center>
    <h1>
    Contact
        </h1>
    </center>
</div>
 <div class="container">
       <div class="contact-pg">
           
        
     <div class="row"> 
          <div class="col-xs-0 col-sm-0 col-md-2" >
         </div>
        
               <div class="col-xs-6 col-sm-6 col-md-4" >
                    <div class="box-1">
                 <a href="mailto:00tasha@gmail.com">
            <img src="images/gmail_mail-2.png" class="images-responsive" alt="" onmouseover="this.src='images/gmail_mail-3.png'" onmouseout="this.src='images/gmail_mail-2.png'"/>
                   </a>
               </div>
             </div>
        
            <div class="col-xs-6 col-sm-6 col-md-4" >
                 <div class="box-2">
                 <a href="https://instagram.com/natasha_springer/" target="_blank">
       <img src="images/instagram-2.png" class="images-responsive" alt="" onmouseover="this.src='images/instagram-3.png'" onmouseout="this.src='images/instagram-2.png'"/>
                        </a>
               <div class="col-xs-12 col-sm-12 col-md-4" >
                   <div class="profile-image">
               <img class="img-responsive" src="images/Profile2.png" alt="">
               </div>
             </div>
           </div>
           
           
           
                <div class="row"> 
                    
                    
                <div class="col-xs-0 col-sm-0 col-md-2" >
         </div>
                    
               <div class="col-xs-6 col-sm-6 col-md-4" >
                    <div class="box-2">
                <a href="http://www.linkedin.com/in/natashaspringer" target="_blank">
            <img src="images/linkedin-2.png" class="images-responsive" alt="" onmouseover="this.src='images/linkedin-3.png'" onmouseout="this.src='images/linkedin-2.png'"/>
                    </a> 
               </div>
             </div>
         
            <div class="col-xs-6 col-sm-6 col-md-4" >
                <div class="box-1">
                 <a href="https://twitter.com/NA_Springer" target="_blank">
           <img src="images/twitter-2.png" class="images-responsive" alt="" onmouseover="this.src='images/twitter-4.png'" onmouseout="this.src='images/twitter-2.png'"/>
                         </a>
               </div>
             </div>
           </div>
           
           
           
           
           </div>
        </div>

            
<% include footer %>

</body>

    
</html>