
    <footer class="footer">
        
        <div class="container">
            <iframe src="//lightwidget.com/widgets/2a19f753858850de8e14dd6183a371a4.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>

    </div>
        
        <p>Copyright &copy; 2017 Natasha Springer</p>
    </footer>
