
    <footer class="footer">
        
        <div class="container">
            <!-- <iframe src="//lightwidget.com/widgets/2a19f753858850de8e14dd6183a371a4.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe> ---->
            
            <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/9b73534b2c32576c8f8fa0f51364e0a0.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>

    </div>
        
        <p>Copyright &copy; 2019 Natasha Springer</p>
    </footer>
