<!DOCTYPE html>

<html lang="en">
 
<% include header %>
<body id="page-top" class="project9Page" data-spy="scroll" data-target=".navbar-fixed-top">

 <% include nav %>    
    
    <!-- Main Content --> 
      
<header class="bgPH">
<div class="container">
    <br>
      <h1>
Nolo- Law for All
    </h1>
</div>
<div class="container">
       <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
       <h2>
   I am the UI/UX designer for this do it yourself legal help website. I worked on a new homepage design. 
       </h2>
           <br>
           <p><center>   
        <a class="compImg" rel="group1" href="images/Nolo/nolo_Logo.png"><img class="img-responsive" src="images/Nolo/nolo_Logo.png"></a>
   
         </center> </p>
           <br>
       </div>    
</div>
</header>         
       
<section class="about-pro bg3">
<div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
        Objective
        </h4>
        <p>
To redesign the Nolo homepage in order to drive the user to the store. Right now the homepage gets the most traffic and is the main segway into the store. I not only need to get the user into the store but to also guide them to the correct topic as quickly as possible, with a very low bounce rate.  
            </p>
           
        </div>
</div>
 
</section>                       
    <hr class="style14">            
<section class="about-pro bg4">
<div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
        Goals
        </h4>
  
     <ul style="margin-bottom:0px;">
        <li><span>Drive traffic to the store</span></li>
        <li><span>Keep a low bounce rate</span></li>
        <li><span>Drive leads</span></li>
        <li><span>Some call to actions for Legal advisers to sign up</span></li>
     </ul>

    <br>      
  
            <p>
            DRIVE TRAFFIC TO THE STORE: 
in order to do so we will display products as well as legal topics that users are most often looking for when it comes to online legal materials. Links to the store. Most popular and successful products highlighted. </p>
            <p>
KEEP A LOW BOUNCE RATE: 
to do this we need to provide the user the information they are needing and expecting quickly. The simplicity should be evident. Links have to be appealing and engaging to users, promise of providing them the information they need. </p>
            <p>
DRIVE LEADS: 
making the lead form stand out and engaging. 
            </p>
            <p>
LEGAL ADVISERS:
create some section or call to action that allows legal firms to sign up or get more information about creating a profile with Nolo. This can’t compete too much with the rest of the material for users.
</p>
            
        </div>
</div>          
 <!--              
<div class="container">
<div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0">
      <a class="bioImg" rel="group1" href="images/GetSafe/ShopRedesign.jpg"><img class="img-responsive" src="images/GetSafe/ShopRedesign.jpg"></a>
</div>

</div> -->
</section>
  <hr class="style14">  
   
<section class="about-pro bg3">
<div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
   Things to Consider
        </h4>
        <p>
Focusing on search means we need to look at the search experience to see how that will effect the user experience. Search: abilities, current stats, capabilities, goals/objectives. Where is it taking them, is it useful (making them more frustrated, giving them the results they expect?). The objective is to have the user search terms/keywords relating to their situations (case, questions, etc). We want to direct them to products, but they might want articles, or lawyers or who knows. </p><p>
Since we want to drive traffic to the store we need to look at the store experience. Once on the store front do they need more assistance there? Can they navigate or should we be placing them on specific product pages or topic pages? What products are the most used.
            </p><p>
A lesser section to think about, but stil consider is the featured lawyers call out. We need to have a section that makes users more interested in searching/looking for a lawyer. This also can be an upgraded feature for business- if lawyers want to be seen on homepage. 

        </p>
       </div> 
</div>        
               
<div class="container">
    
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <a class="sketchImg" rel="group1" href="images/Nolo/NoloDesktop_Original.png"><img class="img-responsive" src="images/Nolo/NoloDesktop_Original.png"></a>
        </div>
    
                
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
             
</div>
</section>
    
    <hr class="style14">  
    
    <section class="about-pro bg3">
<div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
   User Personas
        </h4>
    
       </div> 
</div>        
               
<div class="container">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <a class="sketchImg" rel="group1" href="images/Nolo/SmallBusiness.png"><img class="img-responsive" src="images/Nolo/SmallBusiness.png"></a>
        </div>
   
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <a class="sketchImg" rel="group1" href="images/Nolo/Beginner.png"><img class="img-responsive" src="images/Nolo/Beginner.png"></a>
        </div>
     <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <a class="sketchImg" rel="group1" href="images/Nolo/Attorney.png"><img class="img-responsive" src="images/Nolo/Attorney.png"></a>
        </div>
    
             
</div>
</section>
    
  
    
  <hr class="style14">  
<section class="about-pro bg4">
<div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
     Analytics
        </h4>
       <p>
The first step was to look at how I was going to collect data on the success of this new website and gather any current analyitcs being collected. Some ways to collect data and look at how the homepage is performing are:</p>
             <ul style="margin-bottom:0px;">
        <li><span>HotJar- collect heat maps of the homepage and recordings to see what users are doing</span></li>
        <li><span>UsabilityHub- Use to test designs when we get that far. </span></li>
        <li><span>Google Analytics- can give us some good stats on how the change is impacting many aspects.</span></li>
        <li><span>Optimizely: the main way we will be testing the two designs against each other.</span></li>
       
     </ul>
      
        </div>
</div>

    <div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h3>
     Initial Research
        </h3>
       <p>
Currently we have Google Analytics and some initial heatmaps to look over. From which I found some interesting findings.</p> <!--<a link href="https://docs.google.com/presentation/d/1zPIiEfDZBj0KEIiKX16cKYDeOnPnBdfsbe4UCWlOAGU/edit#slide=id.g1d181f7a39_0_0">Here </a>is a link to the data I am referring to below. </p>-->
            <h5>Heat Maps</h5>
            <p>
            We ran a heat map on Nolo’s current homepage to get some insight on where users are clicking currently. Based on the findings from this test it was confirmed that users are interacting highly with the search feature, the sign in link about the global nav, and the About Nolo all the way down in the footer. On mobile the navigation icon is understood to be clickable, the 3 main call to actions that appear in mobile (Get Informed, Do It Yourself, and Find a Lawyer) are heavily clicked, search again is clicked frequently as well, the product carousels in mobile are being interacted with, and seems lead gen path submit button is being clicked. 
             </p>
           <h5>Google Analytics</h5>
            <p>
                In the current Google Analytics set up I looked at how the current search feature works and how users are interacting with it. There are some additional ways they can interact with the search such as they can select a specific drop down section from 3 options: products, lawyers, and articles. I was curious to see if that was even being used by the users. Also I looked to see what the users main words where when using search, to see if there were any standouts. From the results I found, users weren't using the drop down often and of those who were were looking for articles (free content). After lookign at the terms people where using for search I found a few common ones that we could potential use on the homepage as main topics. 
             </p>
           
        </div>
</div>

       <!--     
<div class="container">
     <div class="col-xs-6 col-sm-6 col-md-8 col-lg-3 col-lg-offset-1">
        <a class="compImg" rel="group1" href="images/GetSafe/CatAd.jpg"><img class="img-responsive" src="images/GetSafe/CatAd.jpg"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <a class="compImg" rel="group1" href="images/GetSafe/FrontYard.jpg"><img class="img-responsive" src="images/GetSafe/FrontYard.jpg"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <a class="compImg" rel="group1" href="images/GetSafe/Lifetsyle_floor.jpg"><img class="img-responsive" src="images/GetSafe/Lifetsyle_floor.jpg"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">    
        <a class="compImg" rel="group1" href="images/GetSafe/Email_1.png"><img class="img-responsive" src="images/GetSafe/Email_1.png"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">     
        <a class="compImg" rel="group1" href="images/GetSafe/Email_2.png"><img class="img-responsive" src="images/GetSafe/Email_2.png"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">    
        <a class="compImg" rel="group1" href="images/GetSafe/Email_3.png"><img class="img-responsive" src="images/GetSafe/Email_3.png"></a>
     </div>
    
</div> -->
</section>
  <hr class="style14">  
<section class="about-pro bg3">
<div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
     <h4>
Sketches
         </h4>

         <p>Below are some early on design concepts based on the goals I need to achieve and the data I collected.</p> <!--<a link href="https://docs.google.com/presentation/d/1jcu3ktXmxddj-e-Rf-NuKBVa5x3iU4lj84dm-MliOjc/edit?usp=sharing">Here </a>is a link to in depth specifications and detials on the sketches. 
     </p>
-->
     </div>
</div>
        
<div class="container">
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">  
         <h2>Sketch 1</h2>
        <a class="compImg" rel="group1" href="images/Nolo/Sketch1.png">
            <img class="img-responsive" src="images/Nolo/Sketch1.png"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3"> 
         <h2>Sketch 2</h2>
        <a class="compImg" rel="group1" href="images/Nolo/Sketch2.png">
            <img class="img-responsive" src="images/Nolo/Sketch2.png"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">    
          <h2>Sketch 3</h2>
        <a class="compImg" rel="group1" href="images/Nolo/Sketch3.png">
            <img class="img-responsive" src="images/Nolo/Sketch3.png"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3"> 
           <h2>Sketch 4</h2>
        <a class="compImg" rel="group1" href="images/Nolo/Sketch4.png">
            <img class="img-responsive" src="images/Nolo/Sketch4.png"></a>
     </div>
   
</div>
  
         
    
</section>
    
    <hr class="style14">  

<section class="about-pro bg4">
<div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
     <h4>
Mockups
     </h4>
        <p>
After doing some analysis I narrowed it down to 2 designs to test against the original. 
        </p>
        <h3><a link href="https://4uhjdx.axshare.com/#g=1&p=homepage_1&c=1">Version 1</a> </h3>
         <h3><a link href="https://sghq23.axshare.com/homepage_2__1_.html">Version 2</a> </h3>  
     </div>
</div>
            
<div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h3>Results Version 1</h3>
     </div>
</div>
            
<div class="container"> 
      <div class="col-xs-0 col-sm-0 col-md-1"> </div> 
     <div class="col-xs-12 col-sm-12 col-md-10">
        <a class="prodImg" rel="group1" href="images/Nolo/HomePageTestV1.png"><img class="img-responsive" src="images/Nolo/HomePageTestV1.png"></a>
     </div>   
    </div>
    <div class="col-xs-0 col-sm-0 col-md-1"> </div>  
    
    
    <div class="container">
        
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h3>Results Version 2</h3>
     </div>
</div>
                  
<div class="container"> 
        <div class="col-xs-0 col-sm-0 col-md-1"> </div>    
     <div class="col-xs-12 col-sm-12 col-md-10">
        <a class="prodImg" rel="group1" href="images/Nolo/HomePageTestV2.png"><img class="img-responsive" src="images/Nolo/HomePageTestV2.png"></a>
     </div>
        <div class="col-xs-0 col-sm-0 col-md-1"> </div>    
    </div>
    
    
    <div class="container">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
    
     <p>From the testing I saw a huge increase in our main goal of driving the user to use search. This was obviously due to the fact that the search bar was put front and center for the user.  I did see a drop in some other categories though, which lead me back to the drawing board in order to design for some other new goals. While the products and a lead path were on these mocks there was less emphasis on these areas and they got pushed lower down on the page. </p>    
        </div>
        </div>

</section>

  <hr class="style14">  
    
<section class="about-pro bg4">
<div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
     <h4>
Version 3
     </h4>
        <p>
This is a third layout that is more of a simpilier look. <!--<a link href="https://docs.google.com/document/d/1jZMos2GVeRyQUHK9QbcKXrONsQC7s2pIKR0y9ekxQjI/edit?usp=sharing">Here</a> is an overview of the changes and thoughts put into this third design. -->In order to accomplish a lot of the goals being targeted I wanted to have a really clean and simple look. A lot of focus was put into products and links into the store and product pages.

        </p>
        <h3><a link href="https://74s4ok.axshare.com/#g=1&p=homepage_08-17-2017&c=1">Version 3 Mock</a> </h3>
         
     </div>
</div>
            
<div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h3>Results Version 3</h3>
     </div>
</div>
            
<div class="container"> 
      <div class="col-xs-0 col-sm-0 col-md-1"> </div> 
     <div class="col-xs-12 col-sm-12 col-md-10">
        <a class="prodImg" rel="group1" href="images/Nolo/HomePageTestV3.png"><img class="img-responsive" src="images/Nolo/HomePageTestV3.png"></a>
     </div>   
    </div>
    <div class="col-xs-0 col-sm-0 col-md-1"> </div>  
    

    
    
    <div class="container">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
    
     <p>The homepage Version 3 perform a lot better in all categories. This was a huge improvement and success from a design standpoint. The next steps are to launch the page and move forward with making improvements. Looking especially at the mobile experience and how to optimize it.   </p>    
        </div>
        </div>
    
    <div class="container"> 
        <div class="col-xs-2 col-sm-2 col-md-2"> </div>    
     <div class="col-xs-8 col-sm-8 col-md-8">
        <a class="prodImg" rel="group1" href="images/Nolo/homepage_V3.png"><img class="img-responsive" src="images/Nolo/homepage_V3.png"></a>
     </div>
        <div class="col-xs-2 col-sm-2 col-md-2"> </div>    
    </div>
    
    

</section>
    
    
    
    
    
    
    
    
       
<section>
    
    
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
    </div>
    
    
    
    
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
    
            <div class="btn-previous">
               
              <a class="btn btn-primary btn-lg" href="/project7" role="button">Previous Project</a>
                    
            </div> 
        
    </div>
    
    
    
    
    
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 ">
            <div class="btn-next">
               
              <a class="btn btn-primary btn-lg" href="/project10" role="button">Next Project</a>
                    
            </div> 
        
    </div>
    
    
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
    </div>
    
    
    
    </section>
    
    
    
    
    <br>
    <br>
    <br>
    
    
    
            
<% include footer %>

</body>
</html>

