<!DOCTYPE html>

<html lang="en">
 
<% include header %>
<body id="page-top" class="projectviewall" data-spy="scroll" data-target=".navbar-fixed-top">  

 <% include nav %>    
    
    <!---- Main context ---->

<header class="bgPH">
  <div class="container">
      <br>
    <h1>
  My Projects
        </h1>
      </div>
    <div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h2>
      Here are some projects I've done. Take a look at some, I've done a range of work for different clients. 
</h2>
            <br>
        </div>    
   </div>
</header>    
       

            
 <section class="about-pro bg2">
 <div class="container">
    
</div>          
            

<div class="container">
    
    
      
    
     <div class="col-xs-12 col-sm-6 col-md-4">
             <div class="project-box">
                 
            <a class="bioImg" rel="group1" href="/project9"> <img class="img-responsive" src="images/Nolo/NoloBox.jpg"> </a>
                
                          <p>Nolo: Homepage redesign process to improve interactions and store entry.</p>
         
         <center>
          <div class="btn-1">
             <a class="btn btn-primary btn-lg" href="/project9" role="button">View Project</a>
               </div>
             
             </center>
             </div>
                
                </div>
    
    
    
     <div class="col-xs-12 col-sm-6 col-md-4">
         
         
     <div class="project-box">            
    <a class="bioImg" rel="group1" href="/project10"> <img class="img-responsive" src="images/Plexuss/Plexuss_Box.jpg"> </a>
        
         <p>Plexxus: A design concept for widget for a college recruiting website.</p>
         
         <center>
          <div class="btn-1">
             <a class="btn btn-primary btn-lg" href="/project10" role="button">View Project</a>
               </div>
             
             </center>
             </div>
         
    </div>
               
    
            <div class="col-xs-12 col-sm-6 col-md-4">
                
                <div class="project-box">
              
            <a class="bioImg" rel="group1" href="/project3"> <img class="img-responsive" src="images/WCS2.jpg"> </a>
                
                  <p>UCSD Women's Club Soccer: I did a redesign of the team's website. </p>
         
         <center>
          <div class="btn-1">
             <a class="btn btn-primary btn-lg" href="/project3" role="button">View Project</a>
               </div>
             
             </center>
             </div>
            
                
                </div>
        
     
    
     <div class="col-xs-12 col-sm-6 col-md-4">
                 <div class="project-box">
    <a class="bioImg" rel="group1" href="/project2"> <img class="img-responsive" src="images/TAKEA.jpg"> </a>
                <p>Take a Hike: was a project to create a website for hiking trails in San Diego. </p>
         
         <center>
          <div class="btn-1">
             <a class="btn btn-primary btn-lg" href="/project2" role="button">View Project</a>
               </div>
             
             </center>
             </div>
    
    </div>
    
    
    
    
    
    
    
    
    
            <div class="col-xs-12 col-sm-6 col-md-4">
             <div class="project-box">
                 
            <a class="bioImg" rel="group1" href="/project8"> <img class="img-responsive" src="images/GetSafe/GetSafe.jpg"> </a>
                
                          <p>GetSafe: a security company that I worked for and did design work for. </p>
         
         <center>
          <div class="btn-1">
             <a class="btn btn-primary btn-lg" href="/project8" role="button">View Project</a>
               </div>
             
             </center>
             </div>
                
                </div>
        
           
     
     
          
     <div class="col-xs-12 col-sm-6 col-md-4">
                 <div class="project-box">
    <a class="bioImg" rel="group1" href="/project4"> <img class="img-responsive" src="images/xtime_2.jpg"> </a>
         
                   <p>Xtime: a company I interned for in their product and usability department.</p> 
         
         <center>
          <div class="btn-1">
             <a class="btn btn-primary btn-lg" href="/project4" role="button">View Project</a>
               </div>
             
             </center>
             </div>
         
         
                </div>
    
    
            <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="project-box">
            <a class="bioImg" rel="group1" href="/project1"> <img class="img-responsive" src="images/StressApp.jpg"> </a>
                
                          <p>DeStress: An app concept to help college students handling stress.</p>
         
         <center>
          <div class="btn-1">
             <a class="btn btn-primary btn-lg" href="/project1" role="button">View Project</a>
               </div>
             
             </center>
             </div>
                
                </div>
    
  
    
    
    
    <div class="col-xs-12 col-sm-6 col-md-4">
             <div class="project-box">
                 
            <a class="bioImg" rel="group1" href="/project5"> <img class="img-responsive" src="images/SterlingDesplat.jpg"> </a>
                
                          <p>Sterling Desplat: Page layout and marketing designs I did for a start-up.</p>
         
         <center>
          <div class="btn-1">
             <a class="btn btn-primary btn-lg" href="/project5" role="button">View Project</a>
               </div>
             
             </center>
             </div>
                
                </div>
        
           
     
     
          
     <div class="col-xs-12 col-sm-6 col-md-4">
                 <div class="project-box">
    <a class="bioImg" rel="group1" href="/project6"> <img class="img-responsive" src="images/UIDesign.png"> </a>
         
                   <p>Daily UI Designs: I did a challenge of creating different UI designs.</p> 
         
         <center>
          <div class="btn-1">
             <a class="btn btn-primary btn-lg" href="/project6" role="button">View Project</a>
               </div>
             
             </center>
             </div>
         
         
                </div>
    
    
            <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="project-box">
            <a class="bioImg" rel="group1" href="/project7"> <img class="img-responsive" src="images/Photography.png"> </a>
                
                          <p>Photography: These are some shots I've taken for fun.</p>
         
         <center>
          <div class="btn-1">
             <a class="btn btn-primary btn-lg" href="/project7" role="button">View Project</a>
               </div>
             
             </center>
             </div>
                
                </div>
    
    
    
         </div>
     
     
<!--
               <div class="container">
     <div class="col-xs-12 col-sm-6 col-md-6">
               
    <a class="bioImg" rel="group1" href="images/Photography/BigMushroom.png"> <img class="img-responsive" src="images/Photography/BigMushroom.png"> </a>
                </div>
    
    
            <div class="col-xs-12 col-sm-6 col-md-6">
            
            <a class="bioImg" rel="group1" href="images/Photography/BigMushroom.png"> <img class="img-responsive" src="images/Photography/BigMushroom.png"> </a>
                </div>
         </div>
-->
     
     

    
    
  

</section>
    
    
    
    

    
    
    <br>
    <br>
    <br>
    
    

<% include footer %>

</body>
</html>

