      
<header id="projects" class="bg2">
  <div class="container">
    <h1>
Projects
    </h1>
     </div>
    <div class="container">
        <div class="col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2">
        <h2>
Introduction to my recent projects...
        </h2>
     </div>
   </div>
</header>

<section class="about-pro bg2">
<div class="container">
          <div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0">
           <div class="row vertical-align">
           <div class="col-sm-12 col-md-6">
           <p>
The Xtime Project is someone who is more reliant on their close friends and gets support and motivation from their friends,
in which this app could provide an easy way for friends to help each other out in terms of school work and encouraging each
other.
           </p>
           </div>
           <div class="col-sm-12 col-md-6">
           <a class="compImg" rel="group1" href="/project4">   <img class="img-responsive" src="images/xtime.jpg"> </a>
           </div>
          </div>
          </div>
          <div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0">
          <div class="row vertical-align"">
          <div class="col-sm-12 col-md-6 col-md-push-6">
           <p>
The Stress App would be those who are highly involved in organizations and works best when surrounded by others,
in this app they could use it to help initiate study groups, support, and reminders to stay on top of ones’ schedule.
           </p>
          </div>
           <div class="col-sm-12 col-md-6 col-md-pull-6">
           <a class="compImg" rel="group1" href="/project1">  <img class="img-responsive" src="images/StressApp.jpg"> </a>
          </div>
          </div>
          </div>
          <div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0">
          <div class="row vertical-align"">
          <div class="col-sm-12 col-md-6">
          <p>
The Take a Hike would be more focused on the organizational aspects of the app.
           </p>
          </div>
          <div class="col-sm-12 col-md-6">
           <a class="compImg" rel="group1" href="/project2">  <img class="img-responsive" src="images/TAKEA.jpg"> </a>
          </div>
          </div>
          </div>
                    <div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0">
          <div class="row vertical-align"">
          <div class="col-sm-12 col-md-6 col-md-push-6">
           <p>
The UCSD Womens Club Soccer would be those who are highly involved in organizations and works best when surrounded by others,
in this app they could use it to help initiate study groups, support, and reminders to stay on top of ones’ schedule.
           </p>
          </div>
           <div class="col-sm-12 col-md-6 col-md-pull-6">
           <a class="compImg" rel="group1" href="/project3">  <img class="img-responsive" src="images/WCS3.jpg"> </a>
          </div>
          </div>
          </div>
      </div>
  </section>

