<!DOCTYPE html>

<html lang="en">
 
<% include header %>
<body id="page-top" class="project9Page" data-spy="scroll" data-target=".navbar-fixed-top">

 <% include nav %>    
    
    <!-- Main Content --> 
      
<header class="bgPH">
<div class="container">
    <br>
      <h1>
Nolo- Law for All
    </h1>
</div>
<div class="container">
       <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
       <h2>
   I am the UI/UX designer for this do it yourself legal help website. I worked on a new homepage design. 
       </h2>
           <br>
           <p><center>   
        <a class="compImg" rel="group1" href="images/Nolo/nolo_Logo.png"><img class="img-responsive" src="images/Nolo/nolo_Logo.png"></a>
   
         </center> </p>
           <br>
       </div>    
</div>
</header>         
       
<section class="about-pro bg3">
<div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
        Objective
        </h4>
        <p>
To redesign the Nolo homepage in order to drive the user to the store. Right now the homepage gets the most traffic and is the main segway into the store. I not only need to get the user into the store but to also guide them to the correct topic as quickly as possible, with a very low bounce rate.  
            </p>
           
        </div>
</div>
 
</section>                       
    <hr class="style14">            
<section class="about-pro bg4">
<div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
        Goals
        </h4>
    </div>
    </div>
<div class="container">
<div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-2" >
     <ul style="margin-bottom:0px;">
        <li><span>Drive traffic to the store</span></li>
        <li><span>Keep a low bounce rate</span></li>
        <li><span>Drive leads</span></li>
        <li><span>Some call to actions for Legal advisers to sign up</span></li>
     </ul>
</div>              
         
</div>
    <br>      
<div class="container">
<div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-2" >  
            <p>
            DRIVE TRAFFIC TO THE STORE: 
in order to do so we will display products as well as legal topics that users are most often looking for when it comes to online legal materials. Links to the store. Most popular and successful products highlighted. </p>
            <p>
KEEP A LOW BOUNCE RATE: 
to do this we need to provide the user the information they are needing and expecting quickly. The simplicity should be evident. Links have to be appealing and engaging to users, promise of providing them the information they need. </p>
            <p>
DRIVE LEADS: 
making the lead form stand out and engaging. 
            </p>
            <p>
LEGAL ADVISERS:
create some section or call to action that allows legal firms to sign up or get more information about creating a profile with Nolo. This can’t compete too much with the rest of the material for users.
</p>
            
        </div>
</div>          
               
<div class="container">
<div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0">
      <a class="bioImg" rel="group1" href="images/GetSafe/ShopRedesign.jpg"><img class="img-responsive" src="images/GetSafe/ShopRedesign.jpg"></a>
</div>

</div>
</section>
  <hr class="style14">  
   
<section class="about-pro bg3">
<div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
   Things to Consider
        </h4>
        <p>
Search: abilities, current stats, capabilities, goals/objectives. Search experience. If we are driving the users to use a search bar how is that experience. Where is it taking them, is it useful (making them more frustrated, giving them the results they expect?). We want them to search? Terms/keywords relating to their situations (case, questions, etc). We want to direct them to products, but they might want articles, or lawyers or who knows. Have it be main focus on hero or main landing page view. It can stick to the nav like on big companies (Amazon, walmart, etc.) -With Walmart when you scroll it’s still there at the top.  <br>
Store Experience: Taking them to the store: do they need more assistance there? Can they navigate or should we be placing them on specific product pages or topic pages? What products are the most used.
            <br>
Featured lawyers: Have a section that makes users more interested in searching/looking for a lawyer. This also can be an upgraded feature for business- if lawyers want to be seen on homepage. 

        </p>
       </div> 
</div>        
               
<div class="container">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <a class="sketchImg" rel="group1" href="images/Nolo/NoloDesktop_Original.png"><img class="img-responsive" src="images/Nolo/NoloDesktop_Original.png"></a>
        </div>
    <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1"></div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
        <a class="sketchImg" rel="group1" href="images/Nolo/NoloMobile_Original.png"><img class="img-responsive" src="images/Nolo/NoloMobile_Original.png"></a>
        </div>
    <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1"></div>
             
</div>
</section>
  <hr class="style14">  
<section class="about-pro bg4">
<div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
     Analytics
        </h4>
       <p>
What stats are we collecting on current homepage and what stats will we be comparing. What numbers do we want to change to show the new layout is successful. </p>
             <ul style="margin-bottom:0px;">
        <li><span>HotJar- collect heat maps of the homepage and recordings to see what users are doing</span></li>
        <li><span>UsabilityHub- Use to test designs when we get that far. </span></li>
        <li><span>UserTesting- ?</span></li>
       
     </ul>
            <p>
We have Google Analytics, but questionable data? Also there is a plugin that you can look on the site clicks, but there are some missing and numbers are extremely low…. Comparing the numbers from GA to HotJar’s heatmap there is definitely a disconnect. 

       </p>
        </div>
</div>

    <div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h3>
     Initial Research
        </h3>
       <p>
Search: Doesn’t perform great. Not used? Need more stats. Will run a HotJar recording to get more insight since users hit search most frequently.  </p>
             <ul style="margin-bottom:0px;">
        <li><span>HotJar- collect heat maps of the homepage and recordings to see what users are doing</span></li>
        <li><span>UsabilityHub- Use to test designs when we get that far. </span></li>
        <li><span>UserTesting- ?</span></li>
       
     </ul>
            <p>
We have Google Analytics, but questionable data? Also there is a plugin that you can look on the site clicks, but there are some missing and numbers are extremely low…. Comparing the numbers from GA to HotJar’s heatmap there is definitely a disconnect. 

       </p>
        </div>
</div>

            
<div class="container">
     <div class="col-xs-6 col-sm-6 col-md-8 col-lg-3 col-lg-offset-1">
        <a class="compImg" rel="group1" href="images/GetSafe/CatAd.jpg"><img class="img-responsive" src="images/GetSafe/CatAd.jpg"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <a class="compImg" rel="group1" href="images/GetSafe/FrontYard.jpg"><img class="img-responsive" src="images/GetSafe/FrontYard.jpg"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <a class="compImg" rel="group1" href="images/GetSafe/Lifetsyle_floor.jpg"><img class="img-responsive" src="images/GetSafe/Lifetsyle_floor.jpg"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">    
        <a class="compImg" rel="group1" href="images/GetSafe/Email_1.png"><img class="img-responsive" src="images/GetSafe/Email_1.png"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">     
        <a class="compImg" rel="group1" href="images/GetSafe/Email_2.png"><img class="img-responsive" src="images/GetSafe/Email_2.png"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">    
        <a class="compImg" rel="group1" href="images/GetSafe/Email_3.png"><img class="img-responsive" src="images/GetSafe/Email_3.png"></a>
     </div>
    
</div>
</section>
  <hr class="style14">  
<section class="about-pro bg3">
<div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
     <h4>
     Brochure Designs
     </h4>
     <p>Below are some webpages I designed for different products or features we were launching. 
     </p>
     </div>
</div>
        
<div class="container">
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2">    
        <a class="compImg" rel="group1" href="images/GetSafe/Brochure1_pt1.jpg"><img class="img-responsive" src="images/GetSafe/Brochure1_pt1.jpg"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2">     
        <a class="compImg" rel="group1" href="images/GetSafe/Brochure1_pt5.png"><img class="img-responsive" src="images/GetSafe/Brochure1_pt5.png"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2">    
        <a class="compImg" rel="group1" href="images/GetSafe/Brochure1_pt3.jpg"><img class="img-responsive" src="images/GetSafe/Brochure1_pt3.jpg"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2">     
        <a class="compImg" rel="group1" href="images/GetSafe/Brochure1_pt4.png"><img class="img-responsive" src="images/GetSafe/Brochure1_pt4.png"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2">     
        <a class="compImg" rel="group1" href="images/GetSafe/Brochure1_pt6.png"><img class="img-responsive" src="images/GetSafe/Brochure1_pt6.png"></a>
     </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2">     
        <a class="compImg" rel="group1" href="images/GetSafe/Brochure1_pt2.jpg"><img class="img-responsive" src="images/GetSafe/Brochure1_pt2.jpg"></a>
     </div>
</div>
</section>

<section class="about-pro bg4">
<div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
     <h4>
Product
     </h4>
        <p>
For our final product we made some major design changes that we felt helped our site have more of a modern and open look and feel. We took out having an image as the background and made it a solid color instead. We also went away from the more boxed sectioned layout and tried to open up the site by not having all the content being separated by boxes.  Along with layout we also tried to incorporate and keep the color variability minimal and more focused on the team’s color- blue, gold, and white.  The final product satisfied our customer and gave her the rich imagery, friendly personality, and modern look she was looking to display. 
        </p>
     </div>
</div>
            
<div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <div class="link">
        <p>
<a href="http://ucsdwcsoccer.herokuapp.com/homepage.html" target="_blank"> Check it out </a>
        </p>
        </div>
     </div>
</div>
                
<div class="container">               
     <div class="col-xs-6 col-sm-4 col-md-4">
        <a class="prodImg" rel="group1" href="images/UCSD/Home.jpg"><img class="img-responsive" src="images/UCSD/Home.jpg"></a>
     </div>
     <div class="col-xs-6 col-sm-4 col-md-4">
        <a class="prodImg" rel="group1" href="images/UCSD/contact.jpg"><img class="img-responsive" src="images/UCSD/contact.jpg"></a>
     </div>
     <div class="col-xs-6 col-sm-4 col-md-4">
        <a class="prodImg" rel="group1" href="images/UCSD/tryouts.jpg"><img class="img-responsive" src="images/UCSD/tryouts.jpg"></a>
     </div>
     <div class="col-xs-6 col-sm-4 col-md-4">
        <a class="prodImg" rel="group1" href="images/UCSD/Schedule.png"><img class="img-responsive" src="images/UCSD/Schedule.png"></a>
     </div>
     <div class="col-xs-6 col-sm-4 col-md-4">
        <a class="prodImg" rel="group1" href="images/UCSD/Photos&Vids.jpg"><img class="img-responsive" src="images/UCSD/Photos&Vids.jpg"></a>
     </div>
     <div class="col-xs-6 col-sm-4 col-md-4">
        <a class="prodImg" rel="group1" href="images/UCSD/results.jpg"><img class="img-responsive" src="images/UCSD/results.jpg"></a>
     </div> 
     <div class="col-xs-6 col-sm-4 col-md-4">
        <a class="prodImg" rel="group1" href="images/UCSD/Directions.jpg"><img class="img-responsive" src="images/UCSD/Directions.jpg"></a>
     </div>
     <div class="col-xs-6 col-sm-4 col-md-4">
        <a class="prodImg" rel="group1" href="images/UCSD/roster.jpg"><img class="img-responsive" src="images/UCSD/roster.jpg"></a>
     </div>
     <div class="col-xs-6 col-sm-4 col-md-4">
        <a class="prodImg" rel="group1" href="images/UCSD/About.png"><img class="img-responsive" src="images/UCSD/About.png"></a>
     </div>   
</div>
</section>

    
    
       
<section>
    
    
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
    </div>
    
    
    
    
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
    
            <div class="btn-previous">
               
              <a class="btn btn-primary btn-lg" href="/project7" role="button">Previous Project</a>
                    
            </div> 
        
    </div>
    
    
    
    
    
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 ">
            <div class="btn-next">
               
              <a class="btn btn-primary btn-lg" href="/project10" role="button">Next Project</a>
                    
            </div> 
        
    </div>
    
    
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
    </div>
    
    
    
    </section>
    
    
    
    
    <br>
    <br>
    <br>
    
    
    
            
<% include footer %>

</body>
</html>

