<!DOCTYPE html>

<html lang="en">
   
<% include header %>
<body id="page-top" class="index" data-spy="scroll" data-target=".navbar-fixed-top">  
    
 <% include nav %>   
      
<header>
  <div class="container">
    <h1>
Stress App
    </h1>
     </div>
    <div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h2>
The objective of this class project is to design a more efficient or entirely new app that will help a target user group solve problems they regularly encounter.
        </h2>
     </div>
   </div>
</header>


 <section class="about-pro bg1">
 <div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
User Research
        </h4>
        <p>
Our first step was to find a topic, which we did by brainstorming everyday problems and what our, as college students, lives were like. We came to the conclusion that we all encounter and have to deal with stress and that it is common for all college students to go through excessive amounts of stress on a daily basis. With this topic in mind it was time to go deeper into the subject and see how other students manage stress, how it affects them, and what contributes to their stress. We did this by starting off with user questioning and observations. We would sit with a student for a few hours and observe their surroundings and habits when going through an average day. We also questioned them on basic questions regarding stress and their everyday schedules. Along with one on one questions we also posted an online survey to get a larger pool of answers about stress and how college students deal with it. 
        </p>
        </div>               
   </div>       

   <div class="container">
     <div class="col-sm-12 col-sm-offset-0 col-md-4 col-md-offset-2" >
        <a class="bioImg" rel="group1" href="images/Stress/app2.jpg">  <img class="img-responsive" src="images/Stress/app2.jpg"> </a>
     </div>
     <div class="col-sm-12 col-md-4">
         <a class="bioImg" rel="group1" href="images/Stress/app3.jpg">   <img class="img-responsive" src="images/Stress/app3.jpg"> </a>
    </div>   
    </div>
  </section>   
           
            
  <section class="about-pro bg2">
   <div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
Analysis
        </h4>
        <p>
After collecting our data we all sat down in a debriefing meeting to go over what each of us found from our interviews and observations as well as look at the results of our online survey. We found some surprising results like a lot of students admit to being stressed, but more specifically 80% admitted to being a procrastinator and 74% said they were good at managing their time. In further analysis we found procrastination was not necessarily a bad thing for students in terms of stress, in fact it was more of a motivator for students to get their work done. We continued to lay out the information we collected and created an affinity diagram and held invisioning sessions to really flesh out our data and start to form ideas of what we would do. 
        </p>
        </div>
   </div>           

      <div class="container">
          <div class="col-sm-12 col-sm-offset-0 col-md-4 col-md-offset-2" >
          <a class="sketchImg" rel="group1" href="images/Stress/app5.JPG">    <img class="img-responsive" src="images/Stress/app5.JPG"> </a>
          </div>
       <div class="col-sm-12 col-md-4">
           <a class="sketchImg" rel="group1" href="images/Stress/app4.jpg">   <img class="img-responsive" src="images/Stress/app4.jpg"> </a>
      </div>
      </div>
   </div>
 </section>           
            
            
<section class="about-pro bg1">
<div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
User Personas
        </h4>
        <p>
From the data we collected we were able to create user personas that capture the types of people who would be using our app.
Our personas were based on the range of types of students who would possible use the app.
The three main groups we broke them up into were: Self-Motivator, Squad Support, and Social Butterfly.
        </p>
     </div>   
</div>      

<div class="container">
           <div class="row vertical-align">
           <div class="col-sm-10 col-sm-offset-1 col-md-6">
           <p>
The Squad Support is someone who is more reliant on their close friends and gets support and motivation from their friends,
in which this app could provide an easy way for friends to help each other out in terms of school work and encouraging each
other.
           </p>
           </div>
           <div class="col-sm-10 col-sm-offset-1 col-md-6">
           <a class="compImg" rel="group1" href="images/Stress/userpersona1.gif">   <img class="img-responsive" src="images/Stress/userpersona1.gif"> </a>
          </div>
          </div>
          <div class="row vertical-align"">
          <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-push-6">
           <p>
The Social Butterfly would be those who are highly involved in organizations and works best when surrounded by others,
in this app they could use it to help initiate study groups, support, and reminders to stay on top of ones’ schedule.
           </p>
          </div>
           <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-pull-6">
           <a class="compImg" rel="group1" href="images/Stress/userpersona2.gif">  <img class="img-responsive" src="images/Stress/userpersona2.gif"> </a>
          </div>
          </div>
          <div class="row vertical-align"">
          <div class="col-sm-10 col-sm-offset-1 col-md-6">
          <p>
The Self-Motivator would be more focused on the organizational aspects of the app.
           </p>
          </div>
          <div class="col-sm-10 col-sm-offset-1 col-md-6">
           <a class="compImg" rel="group1" href="images/Stress/userpersona3.gif">  <img class="img-responsive" src="images/Stress/userpersona3.gif"> </a>
          </div>
          </div>
      </div>
  </section>


  <section class="about-pro bg2">
    <div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
Sketches
        </h4>
        <p>
These wireframes represent the rough layouts:
        </p>
       </div> 
     </div>

     <div class="container">
            <div class="col-xs-6 col-sm-6 col-md-4">
                <a class="wireImg" rel="group1" href="images/Stress/sketch1.jpg">  <img class="img-responsive" src="images/Stress/sketch1.jpg"> </a>
                    </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <a class="wireImg" rel="group1" href="images/Stress/sketch2.jpg">  <img class="img-responsive" src="images/Stress/sketch2.jpg"> </a>
                </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <a class="wireImg" rel="group1" href="images/Stress/sketch3.jpg">   <img class="img-responsive" src="images/Stress/sketch3.jpg"> </a>
                </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <a class="wireImg" rel="group1" href="images/Stress/sketch4.jpg"> <img class="img-responsive" src="images/Stress/sketch4.jpg"> </a>       
                    </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <a class="wireImg" rel="group1" href="images/Stress/sketch5.jpg">   <img class="img-responsive" src="images/Stress/sketch5.jpg"> </a>
                </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                    <a class="wireImg" rel="group1" href="images/Stress/sketch6.jpg">   <img class="img-responsive" src="images/Stress/sketch6.jpg"> </a>
                </div>
     </div>
   </section>
       

  <section class="about-pro bg1">
    <div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
Revisions
        </h4>
        <p>
After creating some wireframes we took our idea to users to ask them what they thought. We had a good response from our audience in terms of a cool factor and spiking interest in our users. A lot of the users like a lot of features and the interactivity we would have in the app- like swiping your finger across items on the list to cross it off and having a scroll bar to indicate stress level. There were a few issues that came up as well, a major issue was overall clarity of the app to users, many complained that they were a little confused on certain aspects and how to use certain pages. Also some of the functionalities proved to be pointless to the users, like seeing past progress and goals met. With this input we made some changes to our design in moving forward with another prototype. 
        </p>
        <p>
These are images of the prototype, 
           <a href="https://www.fluidui.com/editor/live/preview/p_Ztbch7vQk6X1EW931A8Ng1MBIaOZU3cV" target="_blank"> check it out here.</a>
        </p>
        </div>      
     </div>             

     <div class="container">
             <div class="col-xs-6 col-sm-6 col-md-3">
                 <a class="prodImg" rel="group1" href="images/Stress/Home-Screen-(2).jpg">  <img class="img-responsive" src="images/Stress/Home-Screen-(2).jpg"> </a>
                </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <a class="prodImg" rel="group1" href="images/Stress/Connect.jpg">    <img class="img-responsive" src="images/Stress/Connect.jpg"> </a>
                </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <a class="prodImg" rel="group1" href="images/Stress/Create-Challenge.jpg"><img class="img-responsive" src="images/Stress/Create-Challenge.jpg"> </a>
                    </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <a class="prodImg" rel="group1" href="images/Stress/Import-Schedule.jpg">    <img class="img-responsive" src="images/Stress/Import-Schedule.jpg"> </a>
                </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <a class="prodImg" rel="group1" href="images/Stress/Messages.jpg">        <img class="img-responsive" src="images/Stress/Messages.jpg"> </a>
                </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <a class="prodImg" rel="group1" href="images/Stress/Progress.jpg">   <img class="img-responsive" src="images/Stress/Progress.jpg"> </a>
                    </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <a class="prodImg" rel="group1" href="images/Stress/Schedule.jpg">    <img class="img-responsive" src="images/Stress/Schedule.jpg"> </a>
                </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <a class="prodImg" rel="group1" href="images/Stress/Tasks.jpg">   <img class="img-responsive" src="images/Stress/Tasks.jpg"> </a>
                </div>  
     </div>
   </section>         
 
<% include footer %>

</body>
    
</html>

