<!DOCTYPE html>

<html lang="en">
   
<% include header %>
<body id="page-top" class="index" data-spy="scroll" data-target=".navbar-fixed-top">  
    
 <% include nav %>   
  
    <!---- Main context ---->
 <div class="project1">   
      
<div class="heading">
    <center>
    <h1>
   Product Design and User Experience 
        </h1>
        <h2> -Internship at Xtime-</h2>
    </center>
    
    </div>

    
    <div class="container">
    
        
        
        <div class="about-pro">
        
            <div class="row">
    <div class="first-sec">
    <div class="col-xs-12 col-sm-12 col-md-2" >
        <h4>
        Objective:
        </h4>
       </div> 
        <div class="col-xs-12 col-sm-12 col-md-10" >
        <p>
        Xtime is company that provides a scheduling platform to dealerships so customers can schedule to bring their car into the dealership online from their computer or mobile device. 
While I was with the company I was to go over the mobile design for redesign as well as set up Google Analytics. 
        </p>
        </div>
                
        </div>
          </div>  
         <hr>
            
           
            
            
     <div class="row">       
    <div class="second-sec">
          <div class="col-xs-12 col-sm-12 col-md-2" >
        <h4> User Testing:
        </h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10" >
        <p>
First I went out to have users test out the current app design and have them talk out loud while going through the app. The users were given an objective like a car model, repairs needed to be done, and date and time of appointment they needed to make, this helped relieve the user of focusing on these details that weren't important, but how they accomplished these types of objectives. At the end of the test I would ask the user some basic questions regarding their experience in using the app to get a better insight of their opinions on the app.         </p>
        </div>
        

        
          
        </div>
          </div>  
            
            
            
            <div class="row">
                <div class="pro1-img">
                    
                     <div class="col-xs-0 col-sm-0 col-md-1" >
                    </div>
                  
                <div class="col-xs-6 col-sm-6 col-md-5">
            <img class="img-responsive" src="images/Stress/app2.jpg">
                    </div>
                  
                 
                 <div class="col-xs-6 col-sm-6 col-md-5">
            <img class="img-responsive" src="images/Stress/app3.jpg">
                </div>
                    
                   
                </div>
                </div>
         <hr>   
            
            <div class="row">
            
         <div class="third-sec">
    <div class="col-xs-12 col-sm-12 col-md-2" >
        <h4> Analysis:
        </h4>
       </div> 
        <div class="col-xs-12 col-sm-12 col-md-10" >
        <p>
        After collecting our data we all sat down in a debriefing meeting to go over what each of us found from our interviews and observations as well as look at the results of our online survey. We found some surprising results like a lot of students admit to being stressed, but more specifically 80% admitted to being a procrastinator and 74% said they were good at managing their time. In further analysis we found procrastination was not necessarily a bad thing for students in terms of stress, in fact it was more of a motivator for students to get their work done. We continued to lay out the information we collected and created an affinity diagram and held invisioning sessions to really flesh out our data and start to form ideas of what we would do. 
        </p>
        </div>
               
        </div>
          </div>  
        
        <div class="row">
                <div class="pro1-img">
                     <div class="col-xs-0 col-sm-1 col-md-1" >
                    </div>
                <div class="col-xs-12 col-sm-5 col-md-5">
            <img class="img-responsive" src="images/Stress/app5.JPG">
                    </div>
                    
                     <div class="col-xs-0 col-sm-0 col-md-0" >
                    </div>
                 
                 <div class="col-xs-12 col-sm-5 col-md-5">
            <img class="img-responsive" src="images/Stress/app4.jpg">
                </div>
                </div>
                </div>
            
            
            
            <hr>       
            
          <div class="row">
            
         <div class="fourth-sec">
    <div class="col-xs-12 col-sm-12 col-md-2" >
        <h4> User Personas:
        </h4>
       </div> 
        <div class="col-xs-12 col-sm-12 col-md-10" >
        <p>
        From the data we collected we were able to create user personas that capture the types of people who would be using our app. Our personas were based on the range of types of students who would possible use the app. The three main groups we broke them up into were: Self-Motivator, Squad Support, and Social Butterfly. The self-motivator would be more focused on the organizational aspects of the app. The squad support is someone who is more reliant on their close friends and gets support and motivation from their friends, in which this app could provide an easy way for friends to help each other out in terms of school work and encouraging each other. The social butterfly would be those who are highly involved in organizations and works best when surrounded by others, in this app they could use it to help initiate study groups, support, and reminders to stay on top of ones’ schedule. 
        </p>
        </div>
               
        </div>
          </div>  
        
        <div class="row">
                <div class="pro1-img">
                <div class="col-xs-12 col-sm-6 col-md-6">
            <img class="img-responsive" src="images/Stress/userpersona1.png">
                    </div>
                    
             <div class="col-xs-12 col-sm-6 col-md-6">
            <img class="img-responsive" src="images/Stress/userpersona2.png">
                </div>
                    </div>
            </div>
            
                   <div class="row">
                <div class="pro1-img">
                  
                    <div class="col-xs-12 col-sm-3 col-md-3">
                    </div>
                    
                 <div class="col-xs-12 col-sm-6 col-md-6">
            <img class="img-responsive" src="images/Stress/userpersona3.png">
                </div>
                     <div class="col-xs-12 col-sm-3 col-md-3">
                    </div>
                </div>
                </div>
            <hr>
            
            
            
            <div class="row">
            
         <div class="fifth-sec">
    <div class="col-xs-12 col-sm-12 col-md-2" >
        <h4> Sketches:
        </h4>
       </div> 
        <div class="col-xs-12 col-sm-12 col-md-10" >
        
        </div>
               
        </div>
          </div>  
        
        <div class="row">
                <div class="pro1-img">
            <div class="col-xs-6 col-sm-6 col-md-4">
                <img class="img-responsive" src="images/Stress/sketch1.jpeg">
                    </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <img class="img-responsive" src="images/Stress/sketch2.jpeg">
                </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <img class="img-responsive" src="images/Stress/sketch3.jpeg">
                </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <img class="img-responsive" src="images/Stress/sketch4.jpeg">       
                    </div>
                                <div class="col-xs-6 col-sm-6 col-md-4">
            <img class="img-responsive" src="images/Stress/sketch5.jpeg">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4">
            <img class="img-responsive" src="images/Stress/sketch6.jpeg">
                </div>
                </div>
                </div>
            
   
            
            <hr>
            
             <div class="row">
            
         <div class="fourth-sec">
    <div class="col-xs-12 col-sm-12 col-md-2" >
        <h4> Revisions
        </h4>
       </div> 
        <div class="col-xs-12 col-sm-12 col-md-10" >
        <p>
        After creating some wireframes we took our idea to users to ask them what they thought. We had a good response from our audience in terms of a cool factor and spiking interest in our users. A lot of the users like a lot of features and the interactivity we would have in the app- like swiping your finger across items on the list to cross it off and having a scroll bar to indicate stress level. There were a few issues that came up as well, a major issue was overall clarity of the app to users, many complained that they were a little confused on certain aspects and how to use certain pages. Also some of the functionalities proved to be pointless to the users, like seeing past progress and goals met. With this input we made some changes to our design in moving forward with another prototype. 
        </p>
        </div>
               
        </div>
          </div>  
        
       
            <hr>
            
       
            
            
            <div class="row">
            
         <div class="fourth-sec">
    <div class="col-xs-12 col-sm-12 col-md-2" >
        <h4> Prototype
        </h4>
       </div> 
        <div class="col-xs-12 col-sm-12 col-md-10" >
            <div class="link">
<p> <a href="https://www.fluidui.com/editor/live/preview/p_Ztbch7vQk6X1EW931A8Ng1MBIaOZU3cV"> Check it out </a>
            </p>
                </div>
        </div>
               
        </div>
          </div>  
        
            
             <div class="pro1-img">
        <div class="row">
               
                    
            <div class="prototype">
             <div class="col-xs-6 col-sm-3 col-md-3">
                <img class="img-responsive" src="images/Stress/Home%20Screen%20(2).PNG">
                </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <img class="img-responsive" src="images/Stress/Connect.PNG">
                </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <img class="img-responsive" src="images/Stress/Create%20Challenge.PNG">
                    </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <img class="img-responsive" src="images/Stress/Import%20Schedule.PNG">
                </div>
      
                </div>
                </div>
        
            </div>
            
                        <div class="prototype">

            
             <div class="row">
                <div class="pro1-img">
              
         
            <div class="col-xs-6 col-sm-3 col-md-3">
                <img class="img-responsive" src="images/Stress/Messages.PNG">
                </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <img class="img-responsive" src="images/Stress/Progress.PNG">
                    </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <img class="img-responsive" src="images/Stress/Schedule.PNG">
                </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <img class="img-responsive" src="images/Stress/Tasks.PNG">
                </div>
         
                </div>
                </div>
           
            </div>

            

            <hr>
            
            
            
            </div>
            </div>
    
</div>    
  
<% include footer %>

</body>
    
</html>

