<!DOCTYPE html>

<html lang="en">
   
<% include header %>
<body id="page-top" class="index" data-spy="scroll" data-target=".navbar-fixed-top">  
    
 <% include nav %>   
  
    <!---- Main context ---->
 <div class="project1">   
      
<div class="heading">
    <center>
    <h1>
   Product Design and User Experience 
        </h1>
        <h2> -Internship at Xtime-</h2>
    </center>
    
    </div>

    
    <div class="container">
    
        
        
        <div class="about-pro">
        
            <div class="row">
    <div class="first-sec">
    <div class="col-xs-12 col-sm-12 col-md-2" >
        <h4>
        Objective:
        </h4>
       </div> 
        <div class="col-xs-12 col-sm-12 col-md-10" >
        <p>
        Xtime is company that provides a scheduling platform to dealerships so customers can schedule to bring their car into the dealership online from their computer or mobile device. 
While I was with the company I was to go over the mobile design for redesign as well as set up Google Analytics. 
        </p>
        </div>
                
        </div>
          </div>  
         <hr>
            
           
            
            
     <div class="row">       
    <div class="second-sec">
          <div class="col-xs-12 col-sm-12 col-md-2" >
        <h4> User Testing:
        </h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10" >
        <p>
First I went out to have users test out the current app design and have them talk out loud while going through the app. The users were given an objective like a car model, repairs needed to be done, and date and time of appointment they needed to make, this helped relieve the user of focusing on these details that weren't important, but how they accomplished these types of objectives. At the end of the test I would ask the user some basic questions regarding their experience in using the app to get a better insight of their opinions on the app.         </p>
        </div>
        

        
          
        </div>
          </div>  
            
            
            
            <div class="row">
                <div class="pro4-img">
                    
                     <div class="col-xs-0 col-sm-0 col-md-1" >
                    </div>
                  
                <div class="col-xs-12 col-sm-6 col-md-5">
                    
            <img class="img-responsive" src="images/xtime/userTest.gif">
                    <p>This was the prompt given to the participant, that they could refer to during the test.</p>
                    </div>
                  
                 
                 <div class="col-xs-12 col-sm-6 col-md-5">
                    
            <img class="img-responsive" src="images/xtime/userQuestions.gif">
                      <p>This was what I as the researcher told and asked the users throughout the testing.</p>
                </div>
                    
                   
                </div>
                </div>
         <hr>   
            
            <div class="row">
            
         <div class="third-sec">
    <div class="col-xs-12 col-sm-12 col-md-2" >
        <h4> Analysis:
        </h4>
       </div> 
        <div class="col-xs-12 col-sm-12 col-md-10" >
        <p>After conducting user testing I looked at the results for any conclusions I could make about the overall flow and usability of the app. 
       One thing many people complained about, which was unexpected was a lot of people were annoyed with the service packaging set up. There was no set up in the prompt on which service people were to get, encouraging them to look through the available packages to get there thoughts and see what they chose. A lot of frustration was created when people looked back and forth between the factory and dealer recommended packages and realized that they were the same. A common comment was this is pointless, or what is the reason for this? 
Another snag was people ignored the trim option and most of the time randomly selected one, this was however preformed before the I Don’t Know option was implemented. 
Many people found the calendar interactions confusing and the feature its self puzzling.
It took a little time for some people to actually figure out how to select a time

The main takeaway was that the first steps- and espeically scheduling- contained wording and usability that consfused users, a lot. 
        </p>
        </div>
               
        </div>
          </div>  
        
        <div class="row">
                <div class="pro4-img">
                    
                <div class="col-xs-12 col-sm-12 col-md-12">
            <img class="img-responsive" src="images/xtime/results.gif">
                    <p>These are some of the results from the user testing in graphs.</p>
                    </div>
                    
   
                </div>
                </div>
            
            
            
            <hr>       
            
          <div class="row">
            
         <div class="fourth-sec">
    <div class="col-xs-12 col-sm-12 col-md-2" >
        <h4> Google Analytics
        </h4>
       </div> 
        <div class="col-xs-12 col-sm-12 col-md-10" >
        <p>
     To get even more input on users who were using the Xtime mobile app and see where certain issues were arising I was in charge of setting up trackers through Google Analytics. This would give us data on where users were spending a lot of time, dropping out, getting confused, and so on. I worked with the engineers to implement these trackers in the correct spots and making sure the correct functions were being recorded. 
        </p>
        </div>
               
        </div>
          </div>  
            
            
                  <div class="row">
                <div class="pro4-img">
                <div class="col-xs-12 col-sm-12 col-md-12">
            <img class="img-responsive" src="images/xtime/goalsstep3ga.gif">
                    <p>Focusing on the third step of the mobile app experience in particular this is an example of the goals I had when setting up trackers with Google Analytics.  </p>
                    </div>
                    
          </div>
                      </div>
            <div class="row">
                <div class="pro4-img">
                    
          
                <div class="col-xs-12 col-sm-12 col-md-12">
            <img class="img-responsive" src="images/xtime/pagestracked.png">
                    <p>A list of the pages I set up to be tracked by Google Analytics. When the page loads it gets sent as a view and logged. </p>
                    </div>
      
          
                    </div>
            </div>
            
                   <div class="row">
                <div class="pro4-img">
                  
            
                    
                 <div class="col-xs-12 col-sm-6 col-md-6">
            <img class="img-responsive" src="images/xtime/flow1event.png">
                     
                     <p>A flow showing the events in the order they were clicked or interacted with - shown with the most used pathway at the top. </p>
                </div>
                     <div class="col-xs-12 col-sm-6 col-md-6">
                           <img class="img-responsive" src="images/xtime/flow2.png">
                         <p>A flow chart showing the pages the user went through- this was especially important when looking at where the user drops off the most. </p>
                    </div>
                </div>
                </div>
            
            <hr>
            
            
            
            
            
            
            <div class="row">
            
         <div class="fifth-sec">
    <div class="col-xs-12 col-sm-12 col-md-2" >
        <h4> Sketches:
        </h4>
       </div> 
        <div class="col-xs-12 col-sm-12 col-md-10" >
        <p>After conducting the user testing and looking over the GA results I had received at the time, the scheduling step seemed to have the most issues and cause the most trouble so I focused on brainstorming some design ideas for that step in particular. </p>
        </div>
               
        </div>
          </div>  
        
        <div class="row">
                <div class="pro4-img">
                    <div class="col-xs-2 col-sm-2 col-md-3"> </div>
            <div class="col-xs-8 col-sm-8 col-md-6">
                <img class="img-responsive" src="images/xtime/originaldesign.png">
                <p>The original design for the scheduling page</p>
                    </div>
            <div class="col-xs-2 col-sm-2 col-md-3"> </div>
                    
                </div>
                </div>
            
   
            
            <hr>
            
      
            
       
            
            
            <div class="row">
            
         <div class="fourth-sec">
    <div class="col-xs-12 col-sm-12 col-md-2" >
        <h4> Prototype
        </h4>
       </div> 
        <div class="col-xs-12 col-sm-12 col-md-10" >
            <div class="link">
<p> <a href="https://www.fluidui.com/editor/live/preview/p_Ztbch7vQk6X1EW931A8Ng1MBIaOZU3cV"> Check it out </a>
            </p>
                </div>
        </div>
               
        </div>
          </div>  
        
            
             <div class="pro1-img">
        <div class="row">
               
                    
            <div class="prototype">
             <div class="col-xs-6 col-sm-3 col-md-3">
                <img class="img-responsive" src="images/Stress/Home%20Screen%20(2).PNG">
                </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <img class="img-responsive" src="images/Stress/Connect.PNG">
                </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <img class="img-responsive" src="images/Stress/Create%20Challenge.PNG">
                    </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <img class="img-responsive" src="images/Stress/Import%20Schedule.PNG">
                </div>
      
                </div>
                </div>
        
            </div>
            
                        <div class="prototype">

            
             <div class="row">
                <div class="pro1-img">
              
         
            <div class="col-xs-6 col-sm-3 col-md-3">
                <img class="img-responsive" src="images/Stress/Messages.PNG">
                </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <img class="img-responsive" src="images/Stress/Progress.PNG">
                    </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <img class="img-responsive" src="images/Stress/Schedule.PNG">
                </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <img class="img-responsive" src="images/Stress/Tasks.PNG">
                </div>
         
                </div>
                </div>
           
            </div>

            

            <hr>
            
            
            
            </div>
            </div>
    
</div>    
  
<% include footer %>

</body>
    
</html>

