<!DOCTYPE html>

<html lang="en">
   
<% include header %>
<body id="page-top" class="project1Page" data-spy="scroll" data-target=".navbar-fixed-top">  
    
 <% include nav %>   
      
<header class="bgPH">
  <div class="container">
      <br>
    <h1>
DeStress App
    </h1>
     </div>
    <div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h2>
Objective: Create an app that efficiently helps a target group of college students overcome everyday problems that increase stress.
        </h2>
            <br>
     </div>
   </div>
</header>


 <section class="about-pro bg3">
 <div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
User Research
        </h4>
        <p>
My first step was to find a topic, which I did by brainstorming everyday problems that, as college student, was struggling with. I came to the conclusion that all students have to deal with stress and that stress is a common struggle on a daily basis. With this topic in mind it was time to investigate the subject deeper and see how other students manage stress, how it affects them mentally and physically, and what contributes to their stress. I did this by starting off with user questioning and observations. I would sit with a student for a few hours and observe their surroundings and habits when going through an average day. I also asked them basic questions regarding stress and their everyday schedules. Along with one on one questions I also posted an online survey to get a larger pool of answers about stress and how college students deal with it. 


        </p>
        </div>               
   </div>       

   <div class="container">
     <div class="col-sm-12 col-sm-offset-0 col-md-4 col-md-offset-2" >
        <a class="bioImg" rel="group1" href="images/Stress/app2.jpg">  <img class="img-responsive" src="images/Stress/app2.jpg"> </a>
     </div>
     <div class="col-sm-12 col-md-4">
         <a class="bioImg" rel="group1" href="images/Stress/app3.jpg">   <img class="img-responsive" src="images/Stress/app3.jpg"> </a>
    </div>   
    </div>
  </section>   
           
 
     <hr class="style14">
    
    
  <section class="about-pro bg4">
   <div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
Analysis
        </h4>
        <p>
After collecting the data I sat down in a debriefing meeting with other team memberes to go over what each of us found from our interviews and observations as well as look over the results from online surveys. I found some surprising results; like a lot of students admit to being stressed. Out of the all of the students surveyed 80% of them admitted to being a procrastinator, while at the same time 74% of students said they were good at managing their time. In further analysis I found procrastination was not necessarily a bad thing for students in terms of stress, in fact it was more of a motivator for students to get their work done. Using all the responses and observation data I collected I created different diagrams to help  during an envisioning session. After really fleshing out the data I really got a better understanding of what my users needed and how I would be able to move forward in the design process.        </p>
        </div>
   </div>           

      <div class="container">
          <div class="col-sm-12 col-sm-offset-0 col-md-4 col-md-offset-2" >
          <a class="sketchImg" rel="group1" href="images/Stress/app5.JPG">    <img class="img-responsive" src="images/Stress/app5.JPG"> </a>
          </div>
       <div class="col-sm-12 col-md-4">
           <a class="sketchImg" rel="group1" href="images/Stress/app4.jpg">   <img class="img-responsive" src="images/Stress/app4.jpg"> </a>
      </div>
      </div>
   
 </section>           
            
         
     <hr class="style14">
    
    
<section class="about-pro bg3">
<div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
User Personas
        </h4>
        <p>
From the data I collected I was able to create user personas that capture the different types of people who would be using my app.
The personas were based on the assortment of students who would possible use the app.
The three main groups I found were: the Self-Motivator, Squad Support, and the Social Butterfly.
       
 </p>
     </div>   
</div>      

<div class="container">
           <div class="row vertical-align">
           <div class="col-sm-10 col-sm-offset-1 col-md-6">
           <p>
Squad Support is someone who is more reliant on his or her close friends and gets support and motivation from their friends.
For this user the app could provide an easy way for friends to help each other out in terms of school work and encouraging each one another. 

           </p>
           </div>
           <div class="col-sm-10 col-sm-offset-1 col-md-6">
           <a class="compImg" rel="group1" href="images/Stress/userpersona1.gif">   <img class="img-responsive" src="images/Stress/userpersona1.gif"> </a>
          </div>
          </div>
          <div class="row vertical-align">
          <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-push-6">
           <p>
The Social Butterfly is the user who is highly involved in organizations, clubs, and teams. This person works best when surrounded by others and is very connected to others socially.
This user could use the app to help initiate study groups, send support, and reminders to groups of people to help everyone stay on schedule.
           

</p>
          </div>
           <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-pull-6">
           <a class="compImg" rel="group1" href="images/Stress/userpersona2.gif">  <img class="img-responsive" src="images/Stress/userpersona2.gif"> </a>
          </div>
          </div>
          <div class="row vertical-align">
          <div class="col-sm-10 col-sm-offset-1 col-md-6">
          <p>
The Self-Motivator is not really driven by others or dependent on others for study groups or encouragement. This user would use the app as more of a personal organization tool. It would help the user keep track of assignments, set personal goals, and keep record of their accomplishments. 



           </p>
          </div>
          <div class="col-sm-10 col-sm-offset-1 col-md-6">
           <a class="compImg" rel="group1" href="images/Stress/userpersona3.gif">  <img class="img-responsive" src="images/Stress/userpersona3.gif"> </a>
          </div>
          </div>
      </div>
  </section>


     <hr class="style14">
    
    
    
  <section class="about-pro bg4">
    <div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
Sketches
        </h4>
        <p>
These wireframes represent the rough layout:
        </p>
       </div> 
     </div>

     <div class="container">
            <div class="col-xs-6 col-sm-6 col-md-4">
                <a class="wireImg" rel="group1" href="images/Stress/sketch1.jpg">  <img class="img-responsive" src="images/Stress/sketch1.jpg"> </a>
                    </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <a class="wireImg" rel="group1" href="images/Stress/sketch2.jpg">  <img class="img-responsive" src="images/Stress/sketch2.jpg"> </a>
                </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <a class="wireImg" rel="group1" href="images/Stress/sketch3.jpg">   <img class="img-responsive" src="images/Stress/sketch3.jpg"> </a>
                </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <a class="wireImg" rel="group1" href="images/Stress/sketch4.jpg"> <img class="img-responsive" src="images/Stress/sketch4.jpg"> </a>       
                    </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <a class="wireImg" rel="group1" href="images/Stress/sketch5.jpg">   <img class="img-responsive" src="images/Stress/sketch5.jpg"> </a>
                </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                    <a class="wireImg" rel="group1" href="images/Stress/sketch6.jpg">   <img class="img-responsive" src="images/Stress/sketch6.jpg"> </a>
                </div>
     </div>
   </section>
       
    
    
    
     <hr class="style14">

    
    
  <section class="about-pro bg3">
    <div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
Revisions
        </h4>
        <p>
After creating some wireframes I took my idea to users to ask them what they thought. I had a good response from my audience in terms of the app having a cool factor and spiking interest in users. A lot of the users liked the features and interactivity in the app- like swiping your finger across items on the list to cross it off and having a scale to indicate stress level. There were a few issues that came up as well, a major one being overall clarity of the app. Many users complained that they were a little confused on what certain function were and how to use certain pages. Also some of the functionalities proved to be pointless to the users, like seeing past progress and goals met. With this input I made some changes to the design for another round of prototyping.

        </p>
<!--
        <p>
These are images of the prototype 
           <a href="https://www.fluidui.com/editor/live/preview/p_Ztbch7vQk6X1EW931A8Ng1MBIaOZU3cV" target="_blank"> check it out here.</a>
        </p>
-->
        </div>      
     </div>             

     <div class="container">
             <div class="col-xs-6 col-sm-6 col-md-3">
                 <a class="prodImg" rel="group1" href="images/Stress/Home-Screen-(2).jpg">  <img class="img-responsive" src="images/Stress/Home-Screen-(2).jpg"> </a>
                </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <a class="prodImg" rel="group1" href="images/Stress/Connect.jpg">    <img class="img-responsive" src="images/Stress/Connect.jpg"> </a>
                </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <a class="prodImg" rel="group1" href="images/Stress/Create-Challenge.jpg"><img class="img-responsive" src="images/Stress/Create-Challenge.jpg"> </a>
                    </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <a class="prodImg" rel="group1" href="images/Stress/Import-Schedule.jpg">    <img class="img-responsive" src="images/Stress/Import-Schedule.jpg"> </a>
                </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <a class="prodImg" rel="group1" href="images/Stress/Messages.jpg">        <img class="img-responsive" src="images/Stress/Messages.jpg"> </a>
                </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <a class="prodImg" rel="group1" href="images/Stress/Progress.jpg">   <img class="img-responsive" src="images/Stress/Progress.jpg"> </a>
                    </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <a class="prodImg" rel="group1" href="images/Stress/Schedule.jpg">    <img class="img-responsive" src="images/Stress/Schedule.jpg"> </a>
                </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <a class="prodImg" rel="group1" href="images/Stress/Tasks.jpg">   <img class="img-responsive" src="images/Stress/Tasks.jpg"> </a>
                </div>  
     </div>
   </section> 
    
    
    
    
     <hr class="style14">

    
    
  <section class="about-pro bg3">
    <div class="container">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" >
        <h4>
Next Steps
        </h4>
        <p>
If I were to move forward with this project I'd definitely revisit some of the topics I present in the app. I would clean up the design a little and present the prototype to students to see how they interact with the app. Gathering more information on what users think or want out of an app like this is what would really make this a success or not. I would continue to iterate design and gather data until I felt a stable product has been conceived. 

        </p>
        </div>      
     </div>             
        </section>
    
    
    
    <section>
    
    
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
    </div>
    
    
    
    
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
    
            <div class="btn-previous">
               
              <a class="btn btn-primary btn-lg" href="/project4" role="button">Previous Project</a>
                    
            </div> 
        
    </div>
        
        
        
        
    
    
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 ">
            <div class="btn-next">
               
              <a class="btn btn-primary btn-lg" href="/project5" role="button">Next Project</a>
                    
            </div> 
        
    </div>
    
    
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
    </div>
    
    
    
    </section>
    

    
    <br>
    <br>
    <br>
    
    
 
<% include footer %>

</body>
    
</html>

