

<!DOCTYPE html>

<html lang="en">

<% include header %>
<body id="page-top" class="resumePage" data-spy="scroll" data-target=".navbar-fixed-top">  
    
 <% include nav %>

    
    <header class="bgPH">
  <div class="container">
      <br>
    <h1>
Resume
    </h1>
     </div>
   
</header> 
    
    
    
    
    <div class="container">
         <center>

   <div class="resume">    

<!--       <img class="img-responsive" src="images/resumeScreenShot.png" target="_blank"> -->
    
      <a href="images/NatashaSpringerResume.jpg"
target="_blank"><img class="img-responsive" src="images/NatashaSpringerResume.jpg" style="border: #767676 1px solid;"></a>
       
       <!--
   <object data="images/NatashaSpringerResume.pdf" type="application/pdf"  width="830px" height="1072px" overflow-x="scroll">
       
       </div>
    <p>
       </p>
    </object> 
-->
    
            
    </div>
             </center>
    </div>
    <br>
    <br>
    <br>
    
<% include footer %>

</body> 
    
    
</html>



