html {
    width:100%;
    height:100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Josefin Sans', sans-serif; 
    background: rgba(0,0,0,0);
    font-size: 18px;
    
}

a {
    
    color: #F0C986;
    font-size: 30px;
}

a:hover {
 color: #BDBEC0 ;   
}

ul {
 font-family: 'Josefin Sans', sans-serif;  

}

li {
 color: #F0C986;   
}

li span{
    color: #000;
}

.footer {
    text-align:center;
    margin-top:10px;
    padding:10px 0px 10px 0px;
}

.intro-text {
    padding-top: 15%;
    padding-bottom: 15%;
    color: #fff;
    font-size: 48px;  
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.desktop {
    background: center;
    background-color: #000;
    width: 90%;
    height: 120%;
    display: block;
    padding: 30% 8% 10% 8%;
    object-position: center;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 0;
    text-align: center;
    color: #fff;
    background-color: #fff;
}
.intro-body {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: auto;
}

.fa {
    color: #000;
}

.ghost-button{
    display: inline-block;
    width: 200px;
    padding: 8px;

    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    transition: background-color 0.2s ease-out,
                border-color 0.2s ease-out;
    margin-bottom: 20px;
}

.ghost-button:hover,
.ghost-button:active {
    background-color: #fff; /* fallback */
    background-color: rgba(255, 255, 255, 0.4);
    border-color: #fff; /* fallback */
    text-decoration: none;
    text-decoration-color: #fff;
    color:#fff;
    border-color: rgba(255, 255, 255, 0.4);
    transition: background-color 0.3s ease-in,
                border-color 0.3s ease-in;
}

.bottom a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 20px 20px;
  text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
}

.bottom {
    width: 100%;
    text-align: center;
     border-color: #000;
 }

.bottom li {
  display: inline;
  text-align: center;
  position: center;
}

.verticalLine {
    margin-top: 10px;
    padding-left: 0px; !important!
    border-left: solid 2px #000;
    border-right: solid 2px #000;
}

.heading {
    padding: 20px 20px 40px 20px;
    font-family: 'Didact',  sans-serif;
    color: #F0C986;
    align-content: center;
    text-align: center;
}

.projects {
    background-color: #71BBAB;
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
    height: inherit;
    margin-bottom: 45px;
    object-position: center;
    padding: 20px;
}

.projects .img-responsive {
    width: 100%;
    height: 100%;
    position: center;
    object-position: center;
}
 
.content-wrapper{
    background-color: white;
    top: 87%;
    min-height: 12%;
    position:absolute;
    z-index: 2;
    width: 100%;    
}

section {
    padding: 100px 0;    
    /*width: 100%;*/
}

section h2 {
    margin: 0;
    font-size: 3em;
}
  
hr {
    width: 83%;
    height: 1px;
    background-color:#BDBEC0;
    color:#BDBEC0;
    object-position: center;
    margin-top:5px;
    margin-bottom:10px;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}
/*
section.primary h2{    
    color: #2c3e50;
}
    
section.success{
    background-color: #18bc9c;
    color: #fff;
}
*/
.icon-bar {
    background-color:#888;
    color:#000;
}

/* PROJECTS */

.heading h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    color: #F0C986;
    padding-top: 40px;
    text-align: center;
}

.heading h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px; 
    padding-top: 10px;
    color: #BDBEC0;
}

.marginMore {
}

.projects {  
    background-color: #71BBAB;
    background-size: 100% auto;  
    background-repeat: no-repeat;
    width: 100%;
    height: inherit;
    margin-bottom: 45px;
    object-position: center;
    padding-left: 30px;
    padding-right: 30px; 
}

.projects .img-responsive {   
    width: 100%;
    height: 100%;
    position: center;
    object-position: center;
}

.projects .col-xs-12, .projects .col-sm-6, .projects .col-md-6 {
    padding-right: 0px;
    padding-left: 0px; 
}

.projects .col-xs-12, .projects .col-sm-6, .projects .col-md-6 {
    padding-left: 0px;
}

.pro-image {
    margin: 0px; 
}

.caption {
    position:absolute;
    top:-100%;
    right:0;
    background:rgba(150, 145, 150, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
}

.caption h4 {
    font-size: 28px;   
}


.caption p {
    font-size: 25px;   
}

.thumbnail {
    position:relative;
    overflow:hidden;
    border: 0 none;
    box-shadow: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: rgba(150, 145, 150, 0.00);
}

.thumbnail:hover .caption {
    top:0%;
} 

.thumbnail .caption {
    padding: 10% 10px 10% 10px; !important! 
    background: rgba(150, 145, 150, 0.00);
}

.thumbnail a {
    color: #fff;
}

/* CONTACT PAGE */

.images-responsive {
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box-1 {
  align-content: center;
    background-color: #F0C986;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 35px;
    margin-bottom: 35px;
    padding-bottom: 10%;
    padding-top: 10%;    
}

.box-2 {
  align-content: center;
    background-color: #B1DCD2;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 35px;
    margin-bottom: 35px;
    padding-bottom: 10%;
    padding-top: 10%;      
}

/* RESUME PAGE */

.resume {
    margin-bottom: 50px;
    /*margin-top: 90px;
    padding-top: 20px;*/
}

/* ABOUT PAGE */

.about-page .row{
 align-content: center;
 object-position: center;
}

.about-page h4{
   padding-top: 15px;
    font-size: 35px;
    color: #F0C986;    
}

.about-text {
    color: #BDBEC0;
    margin-top: 0px;
/*  background-color: #F0C986 ;  */
  padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 30px;
     font-size: 20px;
}

.about-page .profile-image {
    object-position: center;
    /*height: 100px;*/
    margin-top: 20px;
}

.about-page .img-responsive {
    margin-right: 0px;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* PROJECT 1 PAGE */

.project1{
 padding-top: 0px;   
}

.project1 .container {
 width: 80%;  
}

.about-pro hr {  
    margin-top: 55px;
    margin-bottom: 55px;
}

.about-pro .row{
    object-position: center;
    align-content: center;
}
.bg1 {
    background-color: #f1eae0;
}

.bg2 {
    background-color: #ffffff;
}

.about-pro {
    padding: 50px 0px;
    align-content: center;
    object-position: center;
}

.about-pro h4 { 
    font-size: 30px;
    font-family: 'Didact',  sans-serif;
    color: #B1DCD2;
    text-align: center;
    padding-bottom: 20px;
}
 
.about-pro p {
  font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
    text-align:justify;
}

.about-pro .link p{
    text-align: center;
}

.about-pro .img-responsive {
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.pro1-img .img-responsive {
    margin-right: 0px; !important!
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.prototype .img-responsive {
    padding-right: 0px; !important!
    padding-left: 0px; !important!
    padding-top: 0px; !important!
    padding-bottom: 0px; !important! 
}


/* PROJECT 2 PAGE */

.project2 .container {
    width: 80%;   
}

.pro2-img .img-responsive {
    padding: 10px;  
}

.pro2-img .img-responsive .row{
    align-content: center;
}

.pro2-img h2 {
    text-align: center;
    color: #F0C986;
    font-size: 25px;
}


.pro3-img .col-xs-6 {
    padding: 5px; 
}   

/* PROJECT 4 PAGE */

.pro4-img p {
    margin-left: 40px;
    margin-right: 40px; 
    text-align: center;
}

.pro4-img .img-responsive {
    margin-right: 0px; !important!
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;    
    padding: 10px;
}

.pro4-img h2 {
    text-align: center;
    color: #F0C986;
    font-size: 30px;
    font-family: 'Didact',  sans-serif;
}
   
.negativeMarginBig {
    margin-left:-72px;
    padding-left: 0px;
    padding-right: 0px;
}

.negativeMarginSmall {
    margin-left:-62px;
    padding-left: 0px;
    padding-right: 0px;
}

.inVisionFrameBig {
    width:360px;
}
 
.inVisionFrameSmall {
    width:350px;
}
  
  /* MEDIA QUERIES */
  
@media screen and (min-width:360px) {
    .negativeMarginSmall {
        margin-left:-44px;
    }
    .negativeMarginBig {
        margin-left:-58px;
    }
        
    .inVisionFrameBig {
        width:382px;
    }
     
    .inVisionFrameSmall {
        width:368px;
    }
    
    .thumbnail .caption {
        padding: 15% 10px 15% 10px; !important!
    }
}
  
@media screen and (min-width:375px) {
    .negativeMarginSmall {
        margin-left:-38px;
    }
    .negativeMarginBig {
        margin-left:-54px;
    }
        
    .inVisionFrameBig {
        width:394px;
    }
     
    .inVisionFrameSmall {
        width:378px;
    }

}
  
@media screen and (min-width:414px) {
    .negativeMarginSmall {
        margin-left:-36px;
    }
    .negativeMarginBig {
        margin-left:-38px;
    }
    
    .inVisionFrameBig {
        width:404px;
    }
     
    .inVisionFrameSmall {
        width:396px;
    }
    
    .caption h4 {
        font-size: 32px;   
    }
    
    .caption p {
        font-size: 30px;
    }
}

@media screen and (min-width:768px) {
        
    .pushRight {
        order:1;
    }
    
    .pushLeft {
        order:-1;
    }
    
    .vertical-align {
        display: flex;
        align-items: center;
    }
 /*   
    .about-pro .col-md-6 .img-responsive {
        padding:30px;
    }
    .about-pro .col-md-6 p {
        padding:30px;
    }*/
    
    .heading h1 {
        font-size: 55px;
    }

    .heading h2 {
        font-size: 40px; 
    }
    
    .about-page h4 {
    font-size: 55px;  
    }
    
    hr {
        margin-top:10px;
    }
    
    .negativeMarginSmall {
        margin-left:auto;
    }
    .negativeMarginBig {
        margin-left:auto;
    }

    .intro {
       text-shadow: 0px 0px 15px #000 ;
        height: 90%;
        padding: 0;
        background-color: #FFF;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    .brand-heading {
        font-size: 100px;
    }

    .intro-text {
        padding: 0px;
        color: #B1DCD2 ;
        font-size: 48px;  
       font-family: 'Josefin Sans', sans-serif; 
    }
    
    .homeText {
        align-content: center;
        justify-content: center;

    background-color: rgba(0,0,0, 0.6);

    }
    .desktop {
        background:url('../images/desktop7.jpg') no-repeat center ;
        background-size: 100%;
        width: 80%;
        height: 631px;
        display: block;
        padding: 25% 10% 20% 10%;
        object-position: center;
    }
    .content-section {
        padding-top: 250px;
    }

    .download-section {
        padding: 100px 0;
    }
    
    .heading h1 {
        padding-top: 90px;
    }
    
    .about-text {
        margin-top: 40px;
        text-align: justify;
    }
        
    .caption h4 {
        font-size: 48px;   
    }
    
    .caption p {
        font-size: 40px;
    }
}

@media screen and (min-width:992px) {
    .marginMore {
        margin-left: 120px;
        margin-right: 120px;
    }
        
    .caption h4 {
        font-size: 32px;   
    }
    
    .caption p {
        font-size: 30px;
    }
    
    .about-pro .link p{
       /* text-align: left;
        padding-right: 20%; */ 
        padding-top:20px;
    }
    
    .about-pro h4{
        text-align: left; !important!
    }
    
    .redesign-p {
     margin-top: 35%   
    }
    
    .redesign-p p {
        padding-left:0px;
        padding-right:30px;
    }

    .intro-text {
        padding-top: 20px;
        margin-top: -15%;
    }
}

@media screen and (min-width:1024px) {
    /* RESUME PAGE */
    .resume {
        width: 830px;
        height: 1066px;
        margin-bottom: 50px;
    }
}
    
@media screen and (min-width:1200   px) {
     .about-pro p {
    /*    padding-left:0px; */
    }
}
